<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8" />
	<link th:href="@{/css/my-style.css}" rel="stylesheet">
	<title th:text="${title}"></title>
</head>
<body>
	<header th:fragment="intestazione">
		<h1>Siw - Spring Very Simple Demo</h1>
	</header>

	<p>Go to the next page to see fragments in action</p>
	<aside>
		<div>This is a sidebar</div>
	</aside>
	<div class="another">This is another sidebar</div>
	
	<footer th:fragment="fondo(home)">
		<a th:href="@{${home}}">Home</a>
	</footer>
</body>
</html>