<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



	<link rel="stylesheet" href="/css/style.css">

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

	<!-- Page Navbar -->
	<nav id="scrollspy" class="navbar page-navbar navbar-light navbar-expand-md fixed-top" data-spy="affix"
		data-offset-top="20">
		<div class="container">
			<a class="navbar-brand" href="#"><strong class="text-primary">CAR</strong>
				<span class="text-dark">3</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/default}">Home</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/admin/filiali}">Branches</a></li>
					<li class="nav-item ml-md-4"><a class="nav-link btn btn-primary" th:href="@{/logout}">Logout</a>
					</li>


				</ul>
			</div>
		</div>
	</nav>
	<!-- End of Page Navbar -->

	<header id="home" class="header">
		<div class="overlay"></div>
		<div class="header-content">
			<h6>Our Branches:</h6>
			<h3>"Top branches opened only for you"</h3>
		</div>
	</header>


<!-- Container -->
	<div class="container">
	<br></br><br></br>
		<!-- Row -->
		<div class="row justify-content-between align-items-center">
			<div class="col-md-6">
				<h4>Explore all our branches</h4><span th:text="${count}"></span>
				<br></br>
				<ul>
					<li th:each="filiale : ${filiali}"><a
						th:href="@{'/filiale' + '/' + ${filiale.id}}"
					th:text="${filiale.nome} + ' ' + ${filiale.indirizzo}+ ' ' + ${filiale.phone}"></a> <br></br>
					</li>
				</ul>
				<a class="btn btn-outline-primary btn-sm" th:href="@{/filialeForm}">Add</a>
			</div>

			<div class="col-md-6">
				<div class="img-wrapper">
					<div class="after right"></div>
					<img src="/images/branch0.jpg" class="w-100" alt="About Us">
				</div>
			</div>
		</div>
	</div>
	<!-- End of Container-->


	



	<!-- Section -->
	<section class="pb-0">
		<!-- Container -->
		<div class="container">
			<!-- Pre footer -->
			<div class="pre-footer">
				<ul class="list">
					<li class="list-head">
						<h6 class="font-weight-bold">ABOUT US</h6>
					</li>
					<li class="list-body">
						<p>We are a car dealership managed by students of RomaTre
							University</p> <a href="#"><strong class="text-primary">CAR</strong>
							<span class="text-dark">3</span></a>
					</li>
				</ul>

				<ul class="list">
					<li class="list-head">
						<h6 class="font-weight-bold">CONTACT INFO</h6>
					</li>
					<li class="list-body">
						<p>Contact us and we'll get back to you within 24 hours.</p>
						<p>
							<i class="ti-location-pin"></i> Via RomaTre
						</p>
						<p>
							<i class="ti-email"></i> Car3@uniroma3.com
						</p>
					</li>
				</ul>
			</div>
			<!-- End of Pre footer -->

			<!-- foooter -->
			<footer class="footer">
				<p>Copyright 2022</p>
			</footer>
			<!-- End of Footer-->

		</div>
		<!--End of Container -->
	</section>
	<!-- End of Section -->


</body>

</html>